{% extends 'base.html' %}

{% block content %}
{% load static %}
<section class="page-section bg-primary" id="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-white mt-0">Mentions légales</h2>
        <hr class="divider light my-4">
      </div>
    </div>
    <div class="row justify-content-center">
      <ul>
        <li>Icone de carrote par Fabien Jouin</li>
        <li>Icone de connexion par Freepik</li>
        <li>Icone de déconnexion made par Smashicons from</li>
        <li>Icone de création d'utilisateur made par Freepik</li>
        <li>Icone de compte par Google</li>
        <li>Image de fond par Olenka Kotyk</li>
        <li>Thème Bootstrap : Startbootstrap-creative</li>
        <li>Hébergé sur Heroku</li>
        <li><a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangoproject120x25_grey.gif" border="0" alt="A Django project." title="A Django project." /></a></li>
      </ul>
    </div>
  </div>
</section>
</body>
  
<!-- Footer -->
<footer class="bg-light py-5 fixed-bottom">
{% endblock %}
        